body{
	background-color: grey;
}

div{
	display: inline-block;
	width: 40%;

}

img{
	float: left;
	 border-radius: 70%;
	  border: 1px solid #696969
}

a{
		text-decoration: none;
}
